.Container {
	display: flex;
	justify-content: center; /* Aligns items horizontally at the center */
	align-items: center; /* Aligns items vertically at the center */
	height: 100px; /* Adjust height as needed */
  }
  
  .Button {
	padding: 10px 20px; /* Adjust padding as needed */
	background-color: #8A00B2; /* Button background color */
	color: #fff; /* Button text color */
	border: none; /* Remove button border */
	border-radius: 5px; /* Rounded corners */
	cursor: pointer; /* Show pointer cursor on hover */
	z-index: 1;
}
  
  .Button:hover {
	background-color: #B057C9; /* Button background color on hover */
  }
  