.rectangle-container {
    /* Positioning */
    position: absolute;
    top: 1rem; /* Adjust as needed */
    right: 1rem; /* Adjust as needed */
    z-index: 1000; /* High z-index to overlay other elements */

    /* Layout */
    display: flex;
    flex-wrap: wrap;
}

.rectangle {
    /* Sizing */
    width: 12.5rem; /* Adjust width as needed */
    height: 9.375rem; /* Adjust height as needed */

    /* Spacing */
    margin: 0.625rem;
    padding: 0.625rem;

    /* Styling */
    border: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;

    /* Positioning */
    z-index: 2;
}

.rectangle-content {
    /* Spacing */
    margin-bottom: 0.625rem;
}

.rectangle-date {
    /* Styling */
    font-weight: bold;
}

.rectangle-text {
    /* Spacing */
    margin-bottom: 0.625rem;
}

.access-button {
    /* Styling */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.1875rem;

    /* Spacing */
    padding: 0.3125rem 0.625rem;

    /* Interaction */
    cursor: pointer;
    outline: none;
}

.access-button:hover {
    /* Styling */
    background-color: #0056b3;
}

.close-button {
    /* Positioning */
    position: absolute;
    top: 0;
    right: 0;

    /* Spacing */
    padding: 0.3125rem;

    /* Interaction */
    cursor: pointer;
}