.Journal button {
	margin-top: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
.Journal button[type="button"] {
	background-color: #B057C9;
	color: white;
  }
  
.Journal button[type="button"]:hover {
	background-color: #8A00B2;
  }
  
.Journal button[type="button"]:focus {
	outline: none;
  }
  
.Journal button[type="button"]:active {
	background-color: #8A00B2;
  }