.Container {
	top: 20px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
}

.JournalType {
	position: relative;
	bottom: 30em;
    width: 100%;
    max-width: 600px;
    margin-bottom: 1rem;
	font-size: x-large;
	color: grey;
	z-index: 2;
}

.GetRecords {
	position: relative;
	bottom: 30em;
    width: 130%;
    max-width: 600px;
    margin-bottom: 1rem;
	z-index: 2;
	font-size: x-large;
	color: grey;
	background-color: lightgoldenrodyellow;
	padding: 10px 20px 30px;
}

#journalType {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
}